fastapi==0.131.0
gradio==6.6.0
httpx==0.28.1
langchain-community==0.4.1
langchain-core==1.2.14
langchain-openai==1.1.10
langchain-text-splitters==1.1.1
langgraph==1.0.9
matplotlib==3.10.1
nacos-sdk-python==0.1.15
pandas==2.2.3
arize-phoenix==13.1.1
psycopg-pool==3.3.0
pydantic==2.12.5
python-dotenv==1.0.1
redis==7.2.0
requests==2.32.5
SQLAlchemy==2.0.44
sse-starlette==3.2.0
typing-extensions==4.15.0
uvicorn==0.41.0
asyncpg==0.31.0
openinference-instrumentation-langchain==0.1.59
openpyxl==3.1.2
psycopg2-binary==2.9.11
langgraph-checkpoint-postgres==3.0.4
pymupdf==1.25.3
unstructured==0.16.23
markdown==3.7
openai==1.109.1
langchain-postgres==0.0.12
greenlet==3.3.0
