fastapi
uvicorn
redis
sse-starlette
gradio>=4.0.0
httpx
nacos-sdk-python
pandas
openpyxl
sqlalchemy
psycopg2-binary
psycopg-pool
asyncpg
langchain
langchain-community
langchain-openai
langchain-core
langchain-postgres
langchain-text-splitters
langgraph
langgraph-checkpoint-postgres
python-dotenv
pydantic
arize-phoenix
openinference-instrumentation-langchain
requests
matplotlib
pymupdf
unstructured
markdown
